/* 改变主题色变量 */
$--color-primary: #33aba0;
$--color-danger :#fc5e1f;
$--color-menuBar :#515a6e;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import './style.scss';

@import './login.scss';