html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  box-sizing: border-box;
}

header::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle
}

.container {
  padding-top: 80px;
}
.menuBar{
    background-color: $--color-menuBar;
}
.header-bar{
    height: 40px!important;   
}

.content {
  padding: 20px;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
}

.header-operations {
  display: inline-block;
  float: right;
  padding-right: 10px;
  height: 100%;

  & li {
    font-size: 20px;
    // color:#000;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 5px;
    line-height: 40px;
    cursor: pointer;

    &:last-child {
      cursor: default;
    }
    & .rootname{
        margin-left:5px;
        font-style: normal;
        color:$--color-primary;
    }
  }
  & li.xian{
    border-right:1px #ccc solid;
    height: 25px;
    margin:0;
    padding:0;
}

  .header-download {
    opacity: 0.4;
    cursor: default;

    &.is-available {
      opacity: 1;
      cursor: pointer;
    }
  }

  span {
    opacity: 0.7;
  }

  .header-lang {
    cursor: pointer;

    &.is-active {
      opacity: 1;
    }
  }
}

.header-operations::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle
}

.theme-form {
  text-align: center;
}

.query-form {
  margin-top: 20px;
  padding-top: 25px;
  background-color: #f2f2f2;
    .query-form-item{
        width: calc(50% - 10px);
        box-sizing: border-box;
    }
}

.table {
  margin-top: 30px;
}

.help p {
  margin-bottom: 10px;

  a {
    color: $--color-primary;
  }
}

.el-menu {
  height: 100%;
}
.breadxian {
    height: 15px;
    border-right: 4px solid $--color-primary;
    width: 10px;
    float: left;
    margin: 0 3px;
}
.breadbottom{
    width: 100%;
    height: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
}
.pageArea{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    height: 50px;
    background-color: #fff;
}
.resource{
    position:relative;
    padding-bottom: 70px;
}
.menuBar{
    & .el-menu-item{
        font-size: 20px;
        text-align: center;
        color: #eee;
    }
    & .el-menu-item:hover{
        color: $--color-primary;
        background-color:#eee;
    }
    & .fa{
        color: #909399;
        font-size: 22px;
        line-height: 56px;
        height: 22px;
        /* display: inline-block; */
        vertical-align: top;
        margin-right: 10px;
    }
    & .is-active{
        color: #eee;
        background-color: $--color-primary;
    }
}
.el-dialog__body {
    padding:20px 30px;
}
.fa{
    user-select: none;
}